[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"

[packages]
future = "==0.16.0"
panflute = ">=1.10.3"
ptyprocess = "==0.5.1"
shutilwhich = "==1.1.0"
PyYAML = ">=4.2b1"
pexpect = "*"
pandoc-source-exec = {editable = true, path = "."}
pillow = ">=7.1.0"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
